.env
venv/
.venv/
env/
source/
node_modules/
__pycache__/
*.py[cod]
*.pyc

# caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# packaging
*.egg-info/
build/
dist/

# coverage
.coverage
htmlcov/

# editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db